*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main-card{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #4A98F7;
}
.container{
    display: flex;
    width: 100%;
    max-width: 1050px;
    gap: 10px;
    padding: 10px;
}
section {
    background: #fff;
    border-radius: 7px;
}
.tools-board{
    width: 210px;
    padding: 15px 22px 0 ;
}
.tools-board .row{
    margin-bottom: 20px;
}
.row .options{
    list-style: none;
    margin: 10px 0 0 5px;
}
.row .options .option{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}
.option :where(span, label){
    color: #5A6168;
    padding-left: 10px;
}
.option #fill-color{
    height: 14px;
    width: 14px;
}
#fill-color:checked ~ label{
    color: #4A98F7;
}
.option #size-slider{
    width: 100%;
    height: 5px;
    margin-top: 10px;
}
.colors .options{
    display: flex;
    justify-content: space-between;
}
.colors .option{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 3px;
    position: relative;
}
.colors .option:nth-child(1){
    background: #fff;
    border: 1px solid rgb(145, 137, 137);
}
.colors .option:nth-child(2){
    background: #000;
}
.colors .option:nth-child(3){
    background: #E02020;
}
.colors .option:nth-child(4){
    background: #6DD400;
}
.colors .option:nth-child(5){
    background: #4A98F7;
}
.colors .option:hover::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 12px;
    width: 12px;
    background: inherit;
    border-radius: inherit;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
}
.option #color-picker{
    opacity: 0;
    cursor: pointer;
}
.drawing-board{
    flex: 1;
}
.drawing-board canvas{
    width: 100%;
    height: 100%;
}

